<h2>Login</h2>


<h2 id="inloggen-verzuimloket">{{ 'for citizen'|trans|capitalize }}</h2>
<p>
    <a href="{{ commonground_cleanurl({"component":"ds"}) }}?responceUrl={{ absolute_url(path('app_default_index')) }}digispoof&backUrl={{ backUrl }}"
       class="btn btn--digid btn-block">{{ 'digid'|trans|capitalize }}</a></p>

