<div class="modal modal--backdrop" role="dialog" id="myModal" tabindex="-1" aria-describedby="modal-description3">
    <section class="modal__content" role="document">
        <div class="modal__body" tabindex="0" lang="en-US">
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-6">
                    <h1>{{ 'login'|trans|capitalize }}</h1>
                </div>
                <div class="col-xs-6">
                    <button style="float: right;" class="modal__close-button">
                        <i class="icon icon-cross"></i>
                        {{ 'close'|trans|capitalize }}
                    </button>
                </div>
            </div>

            <div class="skiplink-target content" id="main-content">

                <h2 id="inloggen-verzuimloket">{{ 'for citizen'|trans|capitalize }}</h2>
                <p>
                    <a href="{{ commonground_cleanurl({"component":"ds"}) }}?responceUrl={{ absolute_url(path('app_user_digispoof')) }}&backUrl={{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}"
                       class="btn btn--digid btn-block">{{ 'digid'|trans|capitalize }}</a></p>

{#                <h2 id="inloggen-verzuimloket">{{ 'for businesses'|trans|capitalize }}</h2>#}
{#                <p>#}
{#                    <a href="{{ commonground_cleanurl({"component":"eh"}) }}?responceUrl={{ absolute_url(path('app_user_eherkenning')) }}&backUrl={{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}"#}
{#                       class="btn btn--eherkenning btn-block">{{ 'e-herkenning'|trans|capitalize }}</a></p>#}
            </div>
        </div>
    </section>
</div>
